{
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleQuote": true,
  "semi": true,
  "printWidth": 120
}
